@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p a{
    text-decoration: none;
}

.card{
    width: 25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px !important;
    border: 3px solid gainsboro !important;
}

.nav-item:hover{
    width:min-content;
    border-bottom: 2px solid orange;
    color: orange !important;
}

.card-img-top{
    border-radius: 10px 10px 0px 0px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}
